.BG-IMAGE{
    background-image: url('./Images/pexels-chanwalrus-958545.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.SIGNUP-IMAGE{
    background-image: url('./Images/pexels-valeriya-kobzar-42371713-15733201.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.LOGIN-IMAGE{
    background-image: url('./Images/pexels-kadiravsarr-24870669.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.HIDDEN-SCROLLBAR::-webkit-scrollbar{
   display: none;
}

.SIDENAV-LOGIX{
    position: relative;
    left:0%;
    animation-name: sidenav;
    animation-duration: 0.5s;
}

@keyframes sidenav {
    0% {left:-100%;}
    100% {left:0%;}
}
